@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
  --color-primary: #7748ee

}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  *::before,
  *::after {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  *::-webkit-scrollbar {
    display: none; /* Webkit browsers like Chrome, Safari */
  }
}

* {
  font-family: Outfit;
}


